[submodule ".registry"]
	path = .registry
	url = https://github.com/moseleybioinformaticslab/universe
	branch = HEAD
[submodule "ICIKendallTau"]
	path = ICIKendallTau
	url = https://github.com/MoseleyBioinformaticsLab/ICIKendallTau
[submodule "visualizationQualityControl"]
	path = visualizationQualityControl
	url = https://github.com/MoseleyBioinformaticsLab/visualizationQualityControl
[submodule "categoryCompare2"]
	path = categoryCompare2
	url = https://github.com/MoseleyBioinformaticsLab/categoryCompare2
[submodule "ScanCentricPeakCharacterization"]
	path = ScanCentricPeakCharacterization
	url = https://github.com/MoseleyBioinformaticsLab/ScanCentricPeakCharacterization
